/*
 * VARIABLES
 */


/*
 * MIXINS
 */
@mixin column($columns, $suffix:"") {
    @for $i from 1 to $columns+1 {

        @if $suffix == "" {
            .col-#{$i} {
                grid-column-end: span #{$i};
            }
        } @else {
            .col-#{$i}-#{$suffix} {
                grid-column-end: span #{$i};
            }
        }
    }
}

@mixin offset($offset, $suffix:"") {
    @for $i from 0 to $offset {

        @if $suffix == "" {
            @if $i == 0 {
                .col-offset-#{$i} {
                    grid-column-start: unset;
                }
            } @else {
                .col-offset-#{$i} {
                    grid-column-start: #{$i+1};
                }
            }
        } @else {
            @if $i == 0 {
                .col-offset-#{$i}-#{$suffix} {
                    grid-column-start: unset;
                }
            } @else {
                .col-offset-#{$i}-#{$suffix} {
                    grid-column-start: span #{$i+1};
                }
            }
        }
    }
}

/*
 * CONTAINERS
 */
.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1320px;
}

.container-grid {
    display: grid;
    margin-left: auto;
    margin-right: auto;
    max-width: 1320px;

    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 1px;
}

.default-grid {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 1px;
}

@media only screen and (max-width: $breakpoint-full) {
    .container, .container-grid {
        max-width: 960px;
    }
}
@media only screen and (max-width: $breakpoint-large) {
    .container, .container-grid {
        max-width: 800px;
        padding: $global-gutter;
    }
}
@media only screen and (max-width: $breakpoint-med) {
    .container, .container-grid {
        max-width: 600px;
    }
}

/*
 * COLUMNS
 */
@include column(12);
@media only screen and (max-width: $breakpoint-full) {
    @include column(12, "lg");
}
@media only screen and (max-width: $breakpoint-large) {
    @include column(12, "md");
}
@media only screen and (max-width: $breakpoint-med) {
    @include column(12, "sm");
}
@media only screen and (max-width: $breakpoint-small) {
    .col-1,
    .col-2,
    .col-3,
    .col-4,
    .col-5,
    .col-6,
    .col-7,
    .col-8,
    .col-9,
    .col-10,
    .col-11,
    .col-12 {
        grid-column-end: span 12;
        padding-left: 0;
        padding-right: 0;
    }

    @include column(12, "xs");
}

/*
 * Offsets
 */
@include offset(12);
@media only screen and (max-width: $breakpoint-full) {
    @include offset(12, "lg");

}
@media only screen and (max-width: $breakpoint-large) {
    @include offset(12, "md");
}
@media only screen and (max-width: $breakpoint-med) {
    @include offset(12, "sm");
}

@media only screen and (max-width: $breakpoint-small) {
    @include offset(12, "xs");
}

/* GRID UTIL FUNCTIONS */

.grid-row-1 {
    grid-row: 1;
}
.hidden-sm {
    display: block;
}
@media only screen and (max-width: $breakpoint-med) {
    .marginx-0-sm {
        margin-left: 0;
        margin-right: 0;
    }
    .grid-row-1-sm {
        grid-row: 1;
    }
    .hidden-sm {
        display: none;
    }
}
