//Gutters
$gutter-size: 30px;
$global-gutter: 0 $gutter-size;


$width: 100%;
$gutter: 50px;
$breakpoint-xs: 480px;   // 540px
$breakpoint-small: 600px;   // 540px
$breakpoint-med: 800px;     // 720px
$breakpoint-large: 1200px;
$breakpoint-full: 1400px;

$light-grey: #f3f3f3;
$light-grey-2: #d7d7d7;
$grey: #8f8f8f;
$beige: #a29a92;
